<div class="row">
    <div class="col-md-12">
        <h1>Master List</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/new" class="btn btn-primary">New</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            <tr ng-repeat="item in items">
                <td><a href="#/master/{{item.id}}">{{item.name}}</a></td>
            </tr>
        </table>
    </div>
</div>
