<div class="row">
    <div class="col-md-12">
        <h1>New Master</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name"
                    placeholder="Name" ng-model="data.name">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary pull-right"
                        ng-click="save()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label class="control-label">Item Name</label>
                <input type="text" class="form-control" id="itemName"
                placeholder="Item Name" ng-model="itemName">
            </div>
            <div class="form-group">
                <label class="control-label">Qty</label>
                <input type="text" class="form-control" id="itemQty"
                placeholder="Item Quantity" ng-model="itemQty">
            </div>
            <div class="form-group">
                <label class="control-label">Price</label>
                <input type="text" class="form-control" id="itemPrice"
                placeholder="Item Price" ng-model="itemPrice">
            </div>
            <div class="form-group">
                <label class="control-label">Sub Total</label>
                <p class="form-control-static">{{itemQty*itemPrice}}</p>
            </div>
            <div class="pull-right">
                <button type="button" id="add-item" class="btn btn-default"
                    ng-click="addItem()">Add
                    Item</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Qty</th>
                <th>Item Price</th>
                <th>Sub Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data.items">
                <td>{{item.name}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.price}}</td>
                <td>{{item.qty * item.price}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3">Grand Total</th>
                <th>{{sum()}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
